.logg{
    margin-left: 200px;
    background-color:  lightblue;
    border-radius: 20%;
    border: solid black 1px;
}
.myg{
    background-color: lightblue;
    border-radius: 20%;
    border: solid black 1px;
}



